<!-- <footer>
    <div class="social-media">
        <a href="https://www.facebook.com/oscar.reyesmartinez.169" target="blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/OscarBeatz18" target="blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/oscarreyes0096/?hl=es-la" target="blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/OscarGX" target="blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="copy">
        <p>&copy; Oscar Reyes Martínez. new Date()</p>
    </div>
</footer> -->
<div class="social-media">
    <a href="https://www.facebook.com/oscar.reyesmartinez.169" target="blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/OscarBeatz18" target="blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/oscarreyes0096/?hl=es-la" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/OscarGX" target="blank"><i class="fab fa-github"></i></a>
</div>
<div class="copy">
    <p>&copy; Oscar Reyes Martínez. {{todayStr}} </p>
</div>