<div class="auth-container">
    <div class="auth">
        <div class="img-container">
            <img src="assets/svg/undraw_Access_account_re_8spm-FF6363.svg" alt="Auth">
        </div>
        <div class="form-container">
            <form autocomplete="off" (ngSubmit)="saveData()" [formGroup]="form">
                <h1 class="text-center">Login</h1>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" placeholder="example@mail.com" [class.is-invalid]="isEmailValid" formControlName="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="Type your password" [class.is-invalid]="isPasswordValid" formControlName="password">
                </div>
                <button class="btn btn-success mt-3" [disabled]="isButtonValid">
                    Login
                </button>
                <br>
                <a class="account-link" routerLink="/register">You don't have an account?</a>
            </form>
        </div>
    </div>
</div>