<div class="auth-container">
    <div class="auth">
        <div class="img-container">
            <img src="assets/svg/undraw_Access_account_re_8spm-FF6363.svg" alt="Auth">
        </div>
        <div class="form-container">
            <form autocomplete="off">
                <h1 class="text-center">Sign in</h1>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Type your username" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="example@mail.com" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="same password" name="password1" required>
                </div>
                <div class="form-group">
                    <label>Repeat your password</label>
                    <input type="password" placeholder="same password" name="password2" required>
                </div>
                <button class="btn btn-success mt-3" [disabled]="!isAccepted">
                    Register
                </button>
                <br>
                <a class="account-link" routerLink="/login">I have an account!</a>
            </form>
        </div>
    </div>
</div>