/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    font-family: 'Lato', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.header,
.content,
.footer {
    grid-column: 1/4;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.btn {
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    text-align: center;
    padding: .375rem .75rem;
    border: 1px solid transparent;
}

.btn-success {
    background-color: #28A745;
    color: #fff;
}

.btn-success:hover {
    background-color: #219c3d;
}

.btn-success:disabled {
    background-color: rgba(40, 167, 69, 0.5);
}

.btn-success:focus {
    outline-color: #2ee658;
}

.mt-3 {
    margin-top: 3em;
}

.mt-2 {
    margin-top: 2em;
}

.link {
    text-decoration: none;
    color: #0081cc;
}

.link:hover {
    color: #024f7c;
}